<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Instagram</title>
    {% load static %}
    <link href="{% static 'css/signUp.css' %}" rel="stylesheet" type="text/css"/>
    <link href="background.css" rel="stylesheet" type="text.css"/>
    <link rel="icon" href="{% static 'img/icon.png' %}">
</head>
<body>
    
    <div class="signUp_container">
        <img class="instagramText" src="{% static 'img/logo_text.png' %}" alt="instagramText">
        <h2 class="joinLetter">친구들의 사진과 동영상을 보려면 가입하세요.</h2>
        {% if messages %}
        {% for message in messages %}
        <span id="message">{{message}}</span>
        {% endfor %}
        {% endif %}
        <hr class="line">
        <form action="{% url 'signUp' %}" method='POST'>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="next" value="{% url 'signUp' %}">
        <input type="text" class="userSignUp" name='email' placeholder="이메일(아이디)를 입력해주세요" required>
        <input type="password" class="userSignUp" name='pwd' placeholder="비밀번호를 입력해주세요" minlength="6" required>
        <input type="password" class="userSignUp" name='pwdCheck' placeholder="비밀번호를 확인해주세요" minlength="6" required>
        <input type="text" class="userSignUp" name='username' placeholder="이름(실명)을 입력해주세요" required>
        <input type="text" class="userSignUp" name='phoneNum' placeholder="전화번호를 입력해주세요 010-1111-1111" minlength="10" required>
        <button id="signUpButton">가입</button>
        </form>
    </div>
    <div>
        <footer class="joinInsta">
            <p class="join">계정이 있으신가요? 
                <a href="{% url 'login' %}">
                <button class="joinBtn">로그인</button>
                </a>
            </p>
        </footer>
    </div>
    <script type="text/javascript" src="{% static 'javascript/signUp.js' %}"></script>
</body>
</html>